
body{
    text-align: center;
    background-color: rgb(223, 218, 147);
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}


.square{
    width: 6.25rem;
    height: 6.25rem;
    background-color: rgb(160, 97, 97);
    border: 3px dotted darkgray;
    display: inline-block;
}

.o{
    position: relative;
}

.o:after{
    position: absolute;
    content: "\2B55";
    font-size: 3.125rem;
    line-height: 6.25rem;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.x{
    position: relative;
}

.x:after{
    position: absolute;
    content: "\274C";
    font-size: 3.125rem;
    line-height: 6.25rem;
    top:0;
    bottom:0;
    left:0;
    right:0;
}